* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}
main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box {
    display: flex;
    flex-direction: column;
    gap: 10px;
       position: relative;

}
.img {
    height: 300px;
    width: 100%;
    background-image: url(https://i.pinimg.com/1200x/e0/03/d5/e003d5179176cab8d0a5221dc51e937b.jpg);
    background-position: center;
    background-size: cover;
    aspect-ratio: 9/16;
    transform: scale();
 
}
#love-hover{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 3rem;
   transform: translate(-50%, -50%) scale(0); 
   opacity: 0.9;
   transition: all 0.3s ease;
}

#love-hover.active {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  color: rgba(245, 70, 70, 0.884);
}


.icons{
    display: flex;
    gap: 5px; 
    cursor: pointer;
}