* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  background-color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    font-size: 3rem;
    font-weight: 900;
}
#cursor {
    height: 20px;
    width: 20px;
  mix-blend-mode: difference;
  background-color: white;
    position: absolute;
    border-radius: 50%;
    transition: all linear 0.2s;
}