* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
 background-image: url(lonely-tree-sea-with-cloudy-blue-sky.jpg);
 background-size: cover;
}
.main{
    width: 500px;
    display: flex;
    flex-direction: column;
  background: rgba(255, 255, 255, 0.1);  
  backdrop-filter: blur(10px);           
  -webkit-backdrop-filter: blur(10px); 
  padding: 20px;
border-radius: 20px;
color: whitesmoke;
}
.search input {

  background: rgba(255, 255, 255, 0.1);  
  backdrop-filter: blur(10px);           
  -webkit-backdrop-filter: blur(10px); 
  height: 50px;
  width: 100%;
  border-radius: 30px;
border: none;
padding: 25px 20px;
font-size: 1rem;
position: relative;
} 
.search input::placeholder{
color: whitesmoke;
letter-spacing: 1px;
}