* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
      width: 100%;
  height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}


#bulb {
  width: 200px;
  height: 260px;
 background-color: antiquewhite;
clip-path: path("M100 0 C40 0 20 60 20 120 C20 200 80 230 100 260 C120 230 180 200 180 120 C180 60 160 0 100 0 Z");
}
button{
    width: fit-content;
    padding: 10px;
    border-radius: 50%;
    border: none;
}
button:hover{
    background-color: rgba(255, 255, 255, 0.562);
}
