* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  color: white;
}
main {
    height: 100%;
    width: 100%;
    background-color: black; 
   position: relative;
}

.box {
    height: 120px;
     border-bottom: 2px solid white;
     display: flex;
     align-items: center;
     justify-content: flex-start;
     position: relative;

}
.box h1 {
  mix-blend-mode: difference;
  z-index: 4;
  text-transform: uppercase;
  margin-left: 10px;
  font-size: 3rem;
  font-weight: 900;
  position: relative;
}

.box img {
    position: absolute;
    height: 130px;
    width: 130px;
    object-fit: cover;
    border-radius: 50%;
    opacity: 0;
      /* transform: translate(-50%, -50%); */
   transition: opacity 0.3s linear;
}