* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: rgb(91, 236, 224);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
    height: 350px;
    width: 250px;
    background-color: white;
    border-radius: 10px;
    position: relative;

}
#storiyan {
    height: 120px;
    width: 100%;
    padding: 10px;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.192);
    gap: 10px;
    white-space: nowrap;
    overflow-x: auto;
}
#storiyan::-webkit-scrollbar{
    display: none;
}
.story {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 2px solid transparent;
  
   display: inline-block;
  background:
    linear-gradient(#111, #111) padding-box,
    linear-gradient(45deg, #09009f, #00ff95) border-box;
    overflow: hidden;
}
.story img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position:  center;
}
#fullscreen{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    border-radius: 10px;
    display: none;
    transition: all ease-in 2ms;

}
.story-comment {
  position: absolute;
  bottom: 12px;        
  width: 100%;
  padding: 0 5px;
  display: flex;
  align-items: center;

  justify-content: center;
   gap: 5px;
}


.story-comment input {
  width: 70%;
  height: 42px;
  border-radius: 25px;
  border: 1px solid rgba(128, 128, 128, 0.295);
  outline: none;
  padding: 0 15px;
  background: rgba(0,0,0,0.5);
  color: white;
  font-size: 14px;
}

.story-comment input::placeholder {
  color: rgba(255, 255, 255, 0.445);
}
.story-comment i {
    font-size: 28px;
    color: rgba(255, 255, 255, 0.452);
}