* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #6494ED;
}
.box {
    background-color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    border-radius: 20px;
}
.img {
 width: 200px;
  aspect-ratio: 1 / 1;
  background-image: url("https://i.pinimg.com/736x/f0/fe/d3/f0fed35dae9501cf6ce0ad8966df1e72.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}
.status h1 {
    margin-bottom: 10px;
font-weight: 800;
}
.status h4 {
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 500;
    color: red;
}
button {
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    background-color: rgb(86, 88, 240);
    color: white;
    cursor: pointer;

}
button:hover{
 background-color: rgb(122, 124, 235);
}